<!DOCTYPE html>
<html ng-app="mathVisualizationTool">
  <head>
    <meta charset="utf-8">
    <title>Math Visualization Tool</title>
    <link rel="stylesheet" type="text/css" href="css/build/style.min.css">
  </head>
  <body ng-controller="VisualizationCtrl as viz">
    <div>
  </div>
    <mvt-site >
      <div transclude-to="header">
        <select ng-model="viz.currentVisualizationId" ng-change="viz.changeCurrentVisualization()" >
          <option ng-repeat="vizualization in viz.visualizationIds" value="{{vizualization.id}}">{{vizualization.name}}</option>
        </select>
      </div>
      <div transclude-to="main"><render-window></render-window></div>
      <div transclude-to="sidebar">
        <h3>{{viz.name}}</h3>
        <hr>
        <div ng-bind-html="viz.currentDescription | SanitizeHtml"></div>
        <button ng-disabled="viz.currentStage === 1" ng-click="viz.previous()">Previous</button>
        {{viz.currentStage}} / {{viz.finalStage}}
        <button ng-disabled="viz.currentStage === viz.finalStage" ng-click="viz.next()">Next</button>
      </div>
      <div transclude-to="footer"></div>
    </mvt-site>
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script>
  -->
    <script type="text/javascript" src="/mvt/js/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/mvt/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-resource.min.js"></script>
    <script type="text/javascript" src="/mvt/js/lib/three.min.js"></script>
    <script type="text/javascript" src="/mvt/js/lib/controls/OrbitControls.js"></script>
    <script type="text/javascript" src="/mvt/js/lib/Tween.js"></script>
    <script type="text/javascript" src="/mvt/js/lib/parser.js"></script>
    <script type="text/javascript" src="/mvt/js/build/mvt.min.js"></script>
  </body>
</html>
